@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}

.app{
  min-height: 100vh;
  color: white;
  background-image: radial-gradient(circle, #d1756b, #d87777, #dd7983, #e27c91, #e5809e, #e97e9f, #ec7da0, #f07ba1, #f57393, #f96b83, #fb6472, #fb5f5f);
}
